build
compile_commands.json
.vscode
.cache
.#*
*.hex
*.o
*.elf
*.DS_Store
*.d
_autosave-plotter.kicad_pcb
fp-info-cache
plotter-backups
freecad/backup
pcb/plotter/fp-lib-table
misc/spi-test
pcb/plotter/gerber*/*
